:root {
	/* primary: [#00E1FF, #00E1FF, #01e0fe] */
	--cui-theme-primary-1000: 255, 255, 255;
	--cui-theme-primary-975: 234, 253, 255;
	--cui-theme-primary-950: 212, 250, 255;
	--cui-theme-primary-925: 188, 247, 255;
	--cui-theme-primary-900: 161, 244, 255;
	--cui-theme-primary-875: 132, 241, 255;
	--cui-theme-primary-850: 100, 237, 255;
	--cui-theme-primary-825: 64, 233, 255;
	--cui-theme-primary-800: 22, 228, 255;
	--cui-theme-primary-775: 0, 222, 252;
	--cui-theme-primary-750: 0, 217, 246;
	--cui-theme-primary-725: 0, 212, 240;
	--cui-theme-primary-700: 0, 207, 235;
	--cui-theme-primary-675: 0, 202, 229;
	--cui-theme-primary-650: 0, 198, 224;
	--cui-theme-primary-625: 0, 193, 218;
	--cui-theme-primary-600: 0, 188, 213;
	--cui-theme-primary-575: 0, 183, 207;
	--cui-theme-primary-550: 0, 177, 201;
	--cui-theme-primary-525: 0, 171, 194;
	--cui-theme-primary-500: 1, 165, 187;
	--cui-theme-primary-475: 1, 158, 180;
	--cui-theme-primary-450: 1, 151, 171;
	--cui-theme-primary-425: 1, 143, 163;
	--cui-theme-primary-400: 1, 135, 153;
	--cui-theme-primary-375: 1, 127, 144;
	--cui-theme-primary-350: 1, 118, 134;
	--cui-theme-primary-325: 0, 109, 124;
	--cui-theme-primary-300: 0, 100, 113;
	--cui-theme-primary-275: 0, 91, 103;
	--cui-theme-primary-250: 0, 82, 92;
	--cui-theme-primary-225: 0, 72, 82;
	--cui-theme-primary-200: 0, 63, 71;
	--cui-theme-primary-175: 0, 54, 61;
	--cui-theme-primary-150: 0, 45, 51;
	--cui-theme-primary-125: 0, 37, 42;
	--cui-theme-primary-100: 0, 29, 33;
	--cui-theme-primary-75: 0, 22, 25;
	--cui-theme-primary-50: 0, 15, 17;
	--cui-theme-primary-25: 0, 7, 8;
	--cui-theme-primary-0: 0, 0, 0;

	/* secondary: [#0094f0, #0094f0, #0094f0] */
	--cui-theme-secondary-1000: 255, 255, 255;
	--cui-theme-secondary-975: 243, 250, 254;
	--cui-theme-secondary-950: 231, 245, 254;
	--cui-theme-secondary-925: 219, 240, 253;
	--cui-theme-secondary-900: 207, 235, 252;
	--cui-theme-secondary-875: 194, 229, 251;
	--cui-theme-secondary-850: 182, 224, 251;
	--cui-theme-secondary-825: 170, 219, 250;
	--cui-theme-secondary-800: 159, 215, 249;
	--cui-theme-secondary-775: 148, 210, 249;
	--cui-theme-secondary-750: 138, 206, 248;
	--cui-theme-secondary-725: 128, 202, 248;
	--cui-theme-secondary-700: 118, 197, 247;
	--cui-theme-secondary-675: 108, 193, 246;
	--cui-theme-secondary-650: 98, 189, 246;
	--cui-theme-secondary-625: 87, 184, 245;
	--cui-theme-secondary-600: 76, 180, 244;
	--cui-theme-secondary-575: 64, 175, 244;
	--cui-theme-secondary-550: 51, 169, 243;
	--cui-theme-secondary-525: 37, 163, 242;
	--cui-theme-secondary-500: 21, 157, 241;
	--cui-theme-secondary-475: 3, 149, 240;
	--cui-theme-secondary-450: 0, 142, 231;
	--cui-theme-secondary-425: 0, 135, 219;
	--cui-theme-secondary-400: 0, 127, 207;
	--cui-theme-secondary-375: 0, 119, 194;
	--cui-theme-secondary-350: 0, 111, 180;
	--cui-theme-secondary-325: 0, 103, 166;
	--cui-theme-secondary-300: 0, 94, 153;
	--cui-theme-secondary-275: 0, 85, 139;
	--cui-theme-secondary-250: 0, 77, 125;
	--cui-theme-secondary-225: 0, 68, 110;
	--cui-theme-secondary-200: 0, 59, 96;
	--cui-theme-secondary-175: 0, 51, 83;
	--cui-theme-secondary-150: 0, 43, 69;
	--cui-theme-secondary-125: 0, 35, 57;
	--cui-theme-secondary-100: 0, 28, 45;
	--cui-theme-secondary-75: 0, 21, 34;
	--cui-theme-secondary-50: 0, 14, 23;
	--cui-theme-secondary-25: 0, 7, 11;
	--cui-theme-secondary-0: 0, 0, 0;
}